<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">


            <li class="menu">
                <a aria-expanded="false" class="dropdown-toggle" href="~/Home/Index">
                    <div class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a aria-expanded="false" class="dropdown-toggle" href="~/Empresa/Index">
                    <div class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Empresas</span>
                    </div>
                </a>
            </li>
            <li class="menu">
                <a aria-expanded="false" class="dropdown-toggle" href="~/Fornecedor/Index">
                    <div class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Fornecedores</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
